@inherits LayoutComponentBase

<div class="text-center">
    <div class="cover-container w-100 h-100 p-5 mx-auto">
        <header class="masthead mb-auto">
            <div class="inner">
                <img src="ressources/epitech-logo.png" class="masthead-brand" />
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/projects">Projets</a>
                    <a class="nav-link" href="/activities">Activités</a>
                </nav>
            </div>
        </header>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
