@page "/activities"

@using MongoDB.Driver;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using HubBy.Services
@inject ActivityService _ActivityService

<h1>Activities</h1>

@if (activities == null)
{
    <p><em>Loading all of those funky activities ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in activities)
            {
                <tr>
                    <td><a href="/@activity.Codeacti">@activity.ActiTitle</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<HubBy.Services.ApiModels.Activity> activities;

    protected override async Task OnInitializedAsync()
    {
        activities = _ActivityService.Get();
    }
}
