@page "/"

<style>
    html, body {
        height: 100%;
    }

    .text-center {
        background-image: url("ressources/index-background.png");
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
    }

    .content {
        align-items: center;
        justify-content: center;
        display: flex;
        height: 90%;
    }
</style>
<h1 class="welcome-text">Welcome to HubBy.</h1>
